In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.DataFrame({
    'color':['red','blue','green','green','red','blue']
})

In [4]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [5]:
##create an instance of Onehotencoder
encoder = OneHotEncoder()

In [35]:
# will give sparse matrix
encoded = encoder.fit_transform(df[['color']])
encoded = encoder.fit_transform(df[['color']]).toarray()

In [36]:
encoded

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [8]:
## perform fit and transform
encoder.get_feature_names_out()

array(['color_blue', 'color_green', 'color_red'], dtype=object)

In [9]:
df_encoded = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())

In [10]:
df_encoded

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [11]:
# for new feature
encoder.transform([['red']]).toarray()

C:\Users\Mayur\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[0., 0., 1.]])

In [12]:
pd.concat([df,df_encoded], axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [13]:
import seaborn as sns

In [14]:
df1 = sns.load_dataset('tips')

In [15]:
df1

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [16]:
df1['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [17]:
df1['size'].unique()

array([2, 3, 4, 1, 6, 5])

In [18]:
df1['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [19]:
df1['smoker'].unique()

['No', 'Yes']
Categories (2, object): ['Yes', 'No']

In [20]:
encode1 = OneHotEncoder()
encoded = encode1.fit_transform(df1[['day']]).toarray()   # convering to array in imp

In [21]:
df_encoded = pd.DataFrame(encoded, columns=encode1.get_feature_names_out())
df_encoded

     day_Fri  day_Sat  day_Sun  day_Thur
0        0.0      0.0      1.0       0.0
1        0.0      0.0      1.0       0.0
2        0.0      0.0      1.0       0.0
3        0.0      0.0      1.0       0.0
4        0.0      0.0      1.0       0.0
..       ...      ...      ...       ...
239      0.0      1.0      0.0       0.0
240      0.0      1.0      0.0       0.0
241      0.0      1.0      0.0       0.0
242      0.0      1.0      0.0       0.0
243      0.0      0.0      0.0       1.0

[244 rows x 4 columns]

# LABEL ENCODING

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
# creating instance
lblEncoder = LabelEncoder()

In [24]:
lblEncoder.fit_transform(df[['color']])

C:\Users\Mayur\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2, 0])

In [25]:
lblEncoder.transform([['red']])

C:\Users\Mayur\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

# ORDINAL encoder

In [26]:
from sklearn.preprocessing import OrdinalEncoder

In [27]:
ordEncoder = OrdinalEncoder()

In [28]:
df_rank = pd.DataFrame({
    'size':['small','medium','large','small','medium','large',]
})

In [29]:
df_rank

     size
0   small
1  medium
2   large
3   small
4  medium
5   large

In [30]:
ordEncoder.fit_transform(df_rank[['size']])

array([[2.],
       [1.],
       [0.],
       [2.],
       [1.],
       [0.]])

In [31]:
ordEncoder.transform([['medium']])

C:\Users\Mayur\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[1.]])

In [32]:
ordEncoder.transform([['small']])

C:\Users\Mayur\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[2.]])