# Handeling imbalance dataset
## upsampling 
## downsampling

#### if we have a imbalance dataset (mainly categorical) yes/no

In [5]:
import numpy as np 
import pandas as pd

In [6]:

# this gives the same random number every time when code run
np.random.seed(123)
n_samples=1000

class_0_ration = 0.9
n_class_0 = int(n_samples*class_0_ration)
n_class_1 = n_samples - n_class_0

In [7]:
n_class_0, n_class_1

(900, 100)

In [8]:
# create dataframe with inbalance dataset
class_0 = pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1, size=n_class_0),
    'feature2':np.random.normal(loc=0,scale=1, size=n_class_0),
    'target':[0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature1':np.random.normal(loc=2,scale=1, size=n_class_1),   # generate normally distributed values mean=2 std=1 and size= no of items
    'feature2':np.random.normal(loc=2,scale=1, size=n_class_1),
    'target':[1]*n_class_1        # the list having 1 is multipy by 100 which is n_class_1
})
class_1

    feature1  feature2  target
0   1.699768  2.139033       1
1   1.367739  2.025577       1
2   1.795683  1.803557       1
3   2.213696  3.312255       1
4   3.033878  3.187417       1
..       ...       ...     ...
95  1.376371  2.845701       1
96  2.239810  0.880077       1
97  1.131760  1.640703       1
98  2.902006  0.390305       1
99  2.697490  2.013570       1

[100 rows x 3 columns]

In [9]:
n_class_0

900

In [10]:
[1]

[1]

In [11]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)   # this is for index should be same for both start=0 end = 1000
df                                                          # you can also do ingonore_index = True

     feature1  feature2  target
0   -1.085631  0.551302       0
1    0.997345  0.419589       0
2    0.282978  1.815652       0
3   -1.506295 -0.252750       0
4   -0.578600 -0.292004       0
..        ...       ...     ...
995  1.376371  2.845701       1
996  2.239810  0.880077       1
997  1.131760  1.640703       1
998  2.902006  0.390305       1
999  2.697490  2.013570       1

[1000 rows x 3 columns]

In [12]:
df.tail()

     feature1  feature2  target
995  1.376371  2.845701       1
996  2.239810  0.880077       1
997  1.131760  1.640703       1
998  2.902006  0.390305       1
999  2.697490  2.013570       1

In [13]:
df['target'].value_counts()   # gives the count of each unoque value

target
0    900
1    100
Name: count, dtype: int64

In [14]:
# UP_SAMPLING
df_minority = df[df['target']==1]    # all rowsa having target 1 100 rows low
df_majority = df[df['target']==0]    # all rows having target 0 900 rows   high

In [20]:
from sklearn.utils import resample

from sklearn.utils import resample
df_minority_upsampled  = resample(df_minority, replace = True, n_samples = len(df_majority), random_state = 42)

# replace=True: This means that sampling is done with replacement, meaning some samples from the minority class may be selected more than once.
# random_state=42: This ensures reproducibility. By setting a random state, you'll get the same upsampled dataset every time you run the code.

In [21]:
df_minority_upsampled.shape

(900, 3)

In [22]:
df_minority_upsampled.head()

     feature1  feature2  target
951  1.125854  1.843917       1
992  2.196570  1.397425       1
914  1.932170  2.998053       1
971  2.272825  3.034197       1
960  2.870056  1.550485       1

In [23]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

In [24]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [ ]:
# value counts of (target) 0 and 1 is both 900
# prefers upsampling as downsampling result in dataloss

# DOWNSAMPLING

In [25]:
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

# Check the class distribution
print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [ ]:
## downsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [26]:
from sklearn.utils import resample
df_majority_downsampled=resample(df_majority,replace=False, #Sample With replacement
         n_samples=len(df_minority),
         random_state=42
        )

In [27]:
df_majority_downsampled.shape

(100, 3)

In [28]:
df_downsample = pd.concat([df_minority,df_majority_downsampled],ignore_index=True)

In [30]:
df_downsample['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64