# List

In [2]:
lst =[7,2,5,8,4,1]

In [4]:
sorted(lst)   # this is the funtion who don create the acal changes into the list just give the view

[1, 2, 4, 5, 7, 8]

In [5]:
sorted(lst, reverse=True)  # descinding order

[8, 7, 5, 4, 2, 1]

In [6]:
lst

[7, 2, 5, 8, 4, 1]

In [7]:
lst.sort()   # this function ,makes the permanent changes into the list

In [8]:
lst

[1, 2, 4, 5, 7, 8]

In [12]:
lst.reverse() # this function sort the array in reerse order and it make changes permanently into the memory
lst

[8, 7, 5, 4, 2, 1]

In [14]:
# index()
# this function gives the index of item present if present in the list

lst
lst.index(5)

2

In [15]:
l1 =[1,2,3,3,2,4,4,5,6,6,1]

In [16]:
# count()
# this function gives he count of the item present in the lst

In [22]:
l1.count(4)

2

In [26]:
# copy()
original = [1,2,3,4,5]
l2=original.copy()

In [27]:
l2

[1, 2, 3, 4, 5]

In [29]:
print(id(original))
print(id(l2))

2642546202944
2642545877632

In [30]:
original1 = [1,2,3,4,5,[1,2,3]]
l3 = original1.copy()

In [31]:
l3

[1, 2, 3, 4, 5, [1, 2, 3]]

In [35]:
l3[5][2]=300

In [36]:
l3

[1, 2, 3, 4, 5, [1, 2, 300]]

In [38]:
original1  # here the original also get update as copy function do not work well with the nested list

[1, 2, 3, 4, 5, [1, 2, 300]]

In [41]:
print(id(original1[5]))   # both are pointing to the same memory location
print(id(l3[5]))

2642546545600
2642546545600

In [42]:
# append()
# this fuction is used to add single element at the end of the list

lst

[8, 7, 5, 4, 2, 1]

In [43]:
lst.append(200)

In [44]:
lst

[8, 7, 5, 4, 2, 1, 200]

In [45]:
lst.append([100,200,300,400])

In [46]:
lst

[8, 7, 5, 4, 2, 1, 200, [100, 200, 300, 400]]

In [47]:
#extend()
## this function is used to add the any number of items at a time, it takes iterable to add the elements

In [49]:
l2

[1, 2, 3, 4, 5]

In [51]:
l2.extend([1])

In [52]:
l2

[1, 2, 3, 4, 5, 1]

In [54]:
l2.extend([11,22,33,44,[99,88]])

In [55]:
l2

[1, 2, 3, 4, 5, 1, 11, 22, 33, 44, [99, 88]]

In [57]:
# range()

r=[]
for i in range(11):
    r.append(i)

print(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
[i for i in range(11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
# vector multiplication
l=[1,2,3,4]
m=3
l*m # this replicate the list 3 time

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [63]:
[i*m for i in l]   # this is the vector multiplication using for loop

[3, 6, 9, 12]

In [64]:
#squre of list

[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
# all numbers dicivisible by 5 in range
[i for i in range(51) if i%5==0]   #list comprehension

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [1]:
# List comprehension

In [3]:
basket = ['apple', "Gava", 'cherry', "anana"]
my_Fruits = ['apple', 'kiwi','Grephs','anana']

[i for i in basket if i in my_Fruits]  # this wil give you the common elements from both the list

['apple', 'anana']

In [4]:
# 2-D matrix using list comprehension

In [9]:
b=[]
for i in range(1,4):
    a=[]
    for j in range(1,4):
        a.append(i*j)
    b.append(a)

b

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [11]:
[[i*j for j in range(1,4)] for i in range(1,4)]   # list comprehension

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [13]:
# cartesion product
l1=[1,2,3,4]
l2=[5,6,7,8]
l3 =[]
# l1*l2 this cannot be done

for i in l1:
    for j in l2:
        l3.append(i*j)
l3

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [15]:
[i*j for i in l2 for j in l1]  # list comprehension

[5, 10, 15, 20, 6, 12, 18, 24, 7, 14, 21, 28, 8, 16, 24, 32]

### zip()

In [16]:
# zip() this function is used to join the items of teh two list index wise

l1,l2

([1, 2, 3, 4], [5, 6, 7, 8])

In [19]:
list(zip(l1,l2))   # we have to take the op of zip() list or tuple

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [22]:
l4=['a','b','c','d']

In [25]:
list(zip(l1,l2,l4))

[(1, 5, 'a'), (2, 6, 'b'), (3, 7, 'c'), (4, 8, 'd')]

In [31]:
L2 = [-1,-2,-3,-4,-5,-6,-7,-8]
L3 = ['a','b','c','d','e']
result =[]
maxlen = max(len(L2), len(L3))

for i in range(maxlen):
    if i<len(L2) and i<len(L3):
        result.append((L2[i],L3[i]))
    elif i<len(L2):
        result.append((L2[i],None))
    elif i<len(L3):
        result.append(None,L3[i])

print(result)

[(-1, 'a'), (-2, 'b'), (-3, 'c'), (-4, 'd'), (-5, 'e'), (-6, None), (-7, None), (-8, None)]

In [33]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

list(zip(list1,list2))  # using zip function

[('M', 'y'), ('na', 'me'), ('i', 's'), ('Kh', 'an')]

In [36]:
# add 700 after 600
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(700)

In [37]:
list1

[10, 20, [300, 400, [5000, 6000, 700], 500], 30, 40]

In [44]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

# for i in candy_list:
#     for j in no_of_items:
#         print(i,' - ',j)

for candy, count in zip(candy_list, no_of_items):   # this is what the two line code
    print(f'{candy} - {count}')

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

In [42]:
total_candy_count=[]

for i in range(len(candy_list)):
    total_candy_count.append((candy_list[i],'-',no_of_items[i]))

total_candy_count

[('Jelly Belly', '-', 10),
 ('Kit Kat', '-', 20),
 ('Double Bubble', '-', 34),
 ('Milky Way', '-', 74),
 ('Three Musketeers', '-', 32)]

In [45]:
# running sum of list
list1=[1,2,3,4,5,6]
r_sum = 0

for i in list1:
    r_sum += i
print(r_sum)
# [1, 3, 6, 10, 15, 21] this should be OP

21

In [46]:
# the correct one is (cummulative sum)
cum_sum=0
result=[]
for i in list1:
    cum_sum += i
    result.append(cum_sum)  # this will add the running sum to the list 
result

[1, 3, 6, 10, 15, 21]

In [50]:
#  [2,4,6,10,1] resultant list will be [22,20,16,10,23]
lst =[2,4,6,10,1]
r_sum=0
result=[]

for i in range(len(lst)):
    for j in range(len(lst)):
        if lst[i]<=lst[j]:
            r_sum += lst[j]
    result.append(r_sum)
    r_sum=0
result

[22, 20, 16, 10, 23]

In [55]:
# Find list of common unique items from two list. and show in increasing order
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]

sorted([i for i in num1 if i in num2])  # one lie ans

[34, 67, 89]

Q. Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's
product value as 1.
['1ac21', '23fg', '456', '098d','1','kls']----->['456', '23fg', '1ac21', '1', 'kls', '098d']

In [1]:
lst = ['1ac21', '23fg', '456', '098d','1','kls']
lst1=[]
final = []
for word in lst:
    product = 1
    for char in word:
        if char.isnumeric():
            product *= int(char)
    lst1.append(product)
#sorted(list(zip(lst1,lst)), reverse=True)

for i, j in sorted(zip(lst1,lst), reverse=True):
    final.append(j)

print(final)

['456', '23fg', '1ac21', 'kls', '1', '098d']

In [77]:
def product_of_digits(s):
    product = 1
    has_digit = False
    for char in s:
        if char.isdigit():
            product *= int(char)
            has_digit = True
    return product if has_digit else 1

# Input list
input_list = ['1ac21', '23fg', '456', '098d', '1', 'kls']

# in sorted ksy is given which decide how to sort the items . Every time one item is passed in fun and will return the product and sort on th e basis of 
# prod value
sorted_list = sorted(input_list, key=product_of_digits, reverse=True)  

# Print the output
print(sorted_list)

['456', '23fg', '1ac21', '1', 'kls', '098d']

In [83]:
def product_sort(s):
    product = 1
    has_digit=False
    for i in s:
        if i.isdigit():
            product *= int(i)
            has_digit=True
    return product if has_digit else 1

lst = ['1ac21', '23fg', '456', '098d', '1', 'kls']
sorte_list=sorted(lst, key=product_sort, reverse=True)

print(sorted_list)

['456', '23fg', '1ac21', '1', 'kls', '098d']

In [85]:
lst = ['CampusX is a channel', 'for data-science', 'aspirants.']
print(' '. join(lst))

CampusX is a channel for data-science aspirants.

In [ ]:
# ['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [90]:
result =[]
for i in lst:
    result.extend((i.split()))

result

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [91]:
# Convert Character Matrix to single String using string comprehension
# o/p campux is best channel
lst = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
for i in lst:
    print(i)

['c', 'a', 'm', 'p', 'u', 'x']
['i', 's']
['b', 'e', 's', 't']
['c', 'h', 'a', 'n', 'n', 'e', 'l']

In [100]:
[''.join(i) for i in lst] # this gives us the list

['campux', 'is', 'best', 'channel']

In [102]:
print(' '.join([''.join(i) for i in lst]))  # the one line code

campux is best channel

In [113]:
# union of two list
L1=[1,2,3,4,5,1]
L2=[2,3,5,7,8]

# L1.extend(L2) # this will gives the duplicated list having duplicate items 

for i in L1:
    if i not in L2:
        L2.append(i)

print(L2)

[2, 3, 5, 7, 8, 1, 4]

In [115]:
list(set(L1)|set(L2))  # union operator

[1, 2, 3, 4, 5, 7, 8]

In [ ]:
# Write a list comprehension that can transpose a given matrix matrix = [ [1,2,3], [4,5,6], [7,8,9] ]

In [131]:
matrix = [ [1,2,3], 
          [4,5,6], 
          [7,8,9] ]
lst1 =[]
result = []
for i in range(len(matrix[0])):
    for row in matrix:
        lst1.append(row[i])
    result.append(lst1)
    lst1=[]

result

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [133]:
[[row[i]for row in matrix] for i in range(len(matrix[0]))]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [136]:
list(list(zip(*matrix)))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [139]:
print(*matrix)   # unfold teh matrix

[1, 2, 3] [4, 5, 6] [7, 8, 9]

In [141]:
[i for i in zip(*matrix)]

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

# TUPLE
### similar like the list abut immutable in nature 
### we cannot modify the containts of tuple once decleared

In [181]:
# creating tuple
t=()

In [144]:
type(t)

tuple

In [145]:
t=('Iron')

In [146]:
type(t)

str

In [149]:
t=('Iron',)  # commaseperated values for a tuple

In [150]:
type(t)

tuple

In [153]:
(1,2.3,'Mayur',True,[1,2,3],(11,22))  # we can store any type of data itno the tuple

(1, 2.3, 'Mayur', True, [1, 2, 3], (11, 22))

In [154]:
string = 'Mayur'
list(string)

['M', 'a', 'y', 'u', 'r']

In [155]:
tuple(string)

('M', 'a', 'y', 'u', 'r')

In [156]:
str1 = 'Mayur Amrute'
list(str1)

['M', 'a', 'y', 'u', 'r', ' ', 'A', 'm', 'r', 'u', 't', 'e']

In [157]:
# indexing and slicing

In [173]:
tpl = (1,2,3,4,5,33,44,55)

In [159]:
tpl[1]

2

In [160]:
tpl[2:]

(3, 4, 5, 33, 44, 55)

In [161]:
tpl[2:5]

(3, 4, 5)

In [163]:
tpl[::-1] # reverce

(55, 44, 33, 5, 4, 3, 2, 1)

In [174]:
del(tpl)
# del tpl   # both are correct

In [175]:
# add multplication

In [179]:
tpl=(1,2,3,4)
tpl1=(5,6,7,8)

tpl+tpl1  # cancatibate the tuple  + operator
# tpl*tpl1  we cannot multiply tuple wuthanother tuple
tpl*3   # scaler multiplication is allowed

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
# min max len sorted

In [180]:
t1 = (1,2,3,6,11,22,33)

In [182]:
min(t1)

1

In [183]:
max(t1)

33

In [188]:
sorted(t1, reverse=True)  #  the sort function will not work over here as it make chages into the the memory abd tuple are immutable in nature

[33, 22, 11, 6, 3, 2, 1]

In [189]:
# t1.sort() will not work

In [191]:
sum(t1)  # add all the elements of tuple

78

In [192]:
# count() index()

In [194]:
t1.count(1)  # this function gives the count of occurance of elements in tuple

1

In [198]:
t1.index(11)  # index() gives the index of specified element

4

In [196]:
t1

(1, 2, 3, 6, 11, 22, 33)

In [ ]:
# comparing the time required for List and Tuple

In [201]:
L=list(range(100000))
T=tuple(range(100000))

import time

start = time.time()

for i in L:
    i*5

print('Time for List: ', time.time()-start)


start = time.time()
for i in T:
    i*5
print('Time required for Tuple: ', time.time()-start)

Time for List:  0.04543018341064453
Time required for Tuple:  0.027543067932128906

In [1]:
import sys
L=list(range(100000))
T=tuple(range(100000))

print('Size of List: ', sys.getsizeof(L))
print('Size of Tuple: ', sys.getsizeof(T))

Size of List:  800056
Size of Tuple:  800040

In [2]:
(1,2)+(3,4)

(1, 2, 3, 4)

In [3]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [4]:
# Tuple unpacking

In [7]:
a,b,c = (11,22,33)  # values are assign as per the sequence of variables

In [8]:
a

11

In [9]:
b

22

In [11]:
a,b=(66,77,33)

ValueError: too many values to unpack (expected 2)

In [12]:
a,*b=(11,22,33,44)

In [15]:
a # one value is assign to a nad remaining to the b

11

In [14]:
b   #all remaining assign to b as list

[22, 33, 44]

In [16]:
t1=(1,2,3)
t2=('a','b','c')

tuple(zip(t1,t2))

((1, 'a'), (2, 'b'), (3, 'c'))

# SET
### collection of unique item
### mutable
### unordered
### not allowed mutable items inside

In [17]:
s={}

In [18]:
type(s)

dict

In [19]:
s=set() # constuctor is used

In [20]:
type(s)

set

In [21]:
s={1,2,3,4,5,66,6,6}

In [22]:
s # will remove the

{1, 2, 3, 4, 5, 6, 66}

In [27]:
s1={1,2,3}
s2={2,3,1}

s1==s2  # since set are unorderd

True

In [28]:
s1

{1, 2, 3}

In [29]:
s2

{1, 2, 3}

In [30]:
print(id(s1))
print(id(s2))

1683999997088
1683999994176

In [31]:
# since set is unorderd data type we cannot access the items from the set 
# but can add the items into the set

In [42]:
#add() update()
s={1,2,3,4}
s.add(5)

In [43]:
s

{1, 2, 3, 4, 5}

In [44]:
# s.add((1,2))  # add only sinle vale which is immutable

In [45]:
s

{1, 2, 3, 4, 5}

In [46]:
s.update([11,22,33])  # # add multiple values at a time   and takes iterable only

In [47]:
s

{1, 2, 3, 4, 5, 11, 22, 33}

In [48]:
s.update(2)

TypeError: 'int' object is not iterable

min() max() sum() sorted() len()

In [49]:
min(s)

1

In [50]:
max(s)

33

In [51]:
len(s)

8

In [53]:
sorted(s)  # gives output in the form of listd

[1, 2, 3, 4, 5, 11, 22, 33]

In [54]:
### Deleting items from the set

In [ ]:
remove() discard() pop() clear()

In [55]:
s

{1, 2, 3, 4, 5, 11, 22, 33}

In [56]:
s.remove(1) # we cannot use indexing over here as set is unordered datatype

In [57]:
s

{2, 3, 4, 5, 11, 22, 33}

In [59]:
s.remove(55)  # throw error if element is not found

KeyError: 55

In [60]:
s.discard(2)

In [61]:
s

{3, 4, 5, 11, 22, 33}

In [62]:
s.discard(1000)   # will not throw error if element not fond

In [63]:
s

{3, 4, 5, 11, 22, 33}

In [64]:
s.pop()  # remove the starting element

3

In [66]:
s.pop(1)

TypeError: set.pop() takes no arguments (1 given)

In [67]:
s

{4, 5, 11, 22, 33}

In [69]:
s.clear()

In [70]:
s

set()

In [1]:
## set functions union() and update()

In [3]:
s={1,2,3,4}
s1={4,5,6,7,2,3}

s|s1  # union operator
s1.union(s)

{1, 2, 3, 4, 5, 6, 7}

In [4]:
s1

{2, 3, 4, 5, 6, 7}

In [5]:
s.update(s1)   # its an permanent operation

In [6]:
s

{1, 2, 3, 4, 5, 6, 7}

In [7]:
s

{1, 2, 3, 4, 5, 6, 7}

In [8]:
s={1,2,3,4}

In [9]:
s

{1, 2, 3, 4}

In [10]:
#intersection(common element (&))

s1&s  # operator

{2, 3, 4}

In [12]:
s1.intersection(s) # function

{2, 3, 4}

In [13]:
s1.intersection_update(s)   # will update the set s1 with the intersection values

In [14]:
s1

{2, 3, 4}

In [15]:
# set difference

s-s1  # all elements which are not presnt in s1

{1}

In [16]:
s1-s

set()

In [17]:
s

{1, 2, 3, 4}

In [18]:
s1

{2, 3, 4}

In [20]:
# symetric difference (all uncommon elemnts from bot the set)
s^s1

{1}

In [21]:
s1^s

{1}

In [ ]:
# membership operator
# in / not in

In [22]:
1 in s

True

In [ ]:
for i in s1

In [1]:
# difference and difference_update()

In [2]:
s1 ={1,2,3,4}
s2 = {3,4,5,6}

s1.difference(s2)

{1, 2}

In [3]:
s2.difference(s1)

{5, 6}

In [4]:
# difference_update will update the diffence into the first set

In [7]:
# symeric difference  
# all uncommon elements from both sets

In [8]:
s1^s2

{1, 2, 5, 6}

In [ ]:
# frozenset
# immutable version of set 
# this allows a

In [9]:
fs1=frozenset({1,2,3})

In [10]:
fs1

frozenset({1, 2, 3})

In [1]:
f2=frozenset({})

In [2]:
type(f2)

frozenset

In [6]:
frozenset({1,2,frozenset({2,3})})   # we can have frozenset inside the another set

frozenset({1, 2, frozenset({2, 3})})

In [7]:
# set comprehension

In [8]:
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

# Dictonary

In [9]:
dct = {}

In [10]:
type(dct)

dict

In [11]:
# data is stored in the key value pair form
# key never be mutable and duplicate

In [17]:
dct = {1:1,'A':65,'String':"XYZ",(1,2,3):[1,2,3],2.5:45, True:22}

In [18]:
dct  # here 1 meance true hence it will take the first occurance of key with its value

{1: 22, 'A': 65, 'String': 'XYZ', (1, 2, 3): [1, 2, 3], 2.5: 45}

In [19]:
# 2D dictionary

In [20]:
stu={'name':'Mayur',
    'age':27,
    'gender':'Male',
    'Subject':{'Maths':100,
              'English':80,
              'Marathi':87}}

In [21]:
stu

{'name': 'Mayur',
 'age': 27,
 'gender': 'Male',
 'Subject': {'Maths': 100, 'English': 80, 'Marathi': 87}}

In [22]:
stu['Subject']

{'Maths': 100, 'English': 80, 'Marathi': 87}

In [23]:
stu['Subject']['English']

80

In [24]:
## adding kay value pair

In [2]:
dct = {'name':'Mayur','age':'27', 'gender':'Male'}

In [3]:
dct

{'name': 'Mayur', 'age': '27', 'gender': 'Male'}

In [4]:
dct['clg']='PJLGE' # it will append at the end

In [5]:
dct

{'name': 'Mayur', 'age': '27', 'gender': 'Male', 'clg': 'PJLGE'}

In [6]:
dct['name']='Pankaj'  # key will get updated with new value

In [7]:
dct

{'name': 'Pankaj', 'age': '27', 'gender': 'Male', 'clg': 'PJLGE'}

In [8]:
# items()

In [9]:
dct.items()

dict_items([('name', 'Pankaj'), ('age', '27'), ('gender', 'Male'), ('clg', 'PJLGE')])

In [10]:
# keys()
dct.keys()

dict_keys(['name', 'age', 'gender', 'clg'])

In [11]:
# values()
dct.values()

dict_values(['Pankaj', '27', 'Male', 'PJLGE'])

In [12]:
# Removing key value pair

In [13]:
## clear() pop() popitem()

In [14]:
dct

{'name': 'Pankaj', 'age': '27', 'gender': 'Male', 'clg': 'PJLGE'}

In [15]:
dct.pop('gender')  # gender is get deleted

'Male'

In [16]:
dct

{'name': 'Pankaj', 'age': '27', 'clg': 'PJLGE'}

In [17]:
dct.popitem() # by default it delete the last item from the list

('clg', 'PJLGE')

In [18]:
dct

{'name': 'Pankaj', 'age': '27'}

In [50]:
dct.clear() # will delete all items from the list.mae the dist empty

In [51]:
dct

{}

In [19]:
dct

{'name': 'Pankaj', 'age': '27'}

In [ ]:
dct.

In [22]:
del dct['age']  # this delete the item by using key

KeyError: 'age'

In [23]:
dct

{'name': 'Pankaj'}

In [24]:
del dct # has deleteed the dictionary

In [25]:
dct

NameError: name 'dct' is not defined

In [26]:
# setdefault()

In [27]:
emp={'name':'IronMan','age':45,'designation':'MD', 'salary':100000}

In [28]:
emp

{'name': 'IronMan', 'age': 45, 'designation': 'MD', 'salary': 100000}

In [29]:
emp['Company']

KeyError: 'Company'

In [33]:
emp.setdefault('company')  # this will create the new key if key is not present or give the valure if kay is present

In [34]:
emp

{'name': 'IronMan',
 'age': 45,
 'designation': 'MD',
 'salary': 100000,
 'company': None}

In [35]:
emp.setdefault('salary')

100000

In [36]:
emp.setdefault('salary', 2222222)  # if the kay is present we cannot change the value of the key

100000

In [37]:
emp

{'name': 'IronMan',
 'age': 45,
 'designation': 'MD',
 'salary': 100000,
 'company': None}

In [40]:
emp.setdefault('company','TCS')  # even None value is also not get change

In [41]:
emp

{'name': 'IronMan',
 'age': 45,
 'designation': 'MD',
 'salary': 100000,
 'company': None}

In [44]:
emp['company']='TCS'  # this syntax will update the dictionary and not the setfdefault()

In [45]:
emp

{'name': 'IronMan',
 'age': 45,
 'designation': 'MD',
 'salary': 100000,
 'company': 'TCS'}

In [46]:
# nested dictionary

In [49]:
stu = {'std1':{'name':'Mayur','clg':'PJ'},
       'std2':{'name':'Pankaj','clg':"LC"},
       'std3':{'name':'Ashlesh','clg':'NA'}}

In [50]:
stu

{'std1': {'name': 'Mayur', 'clg': 'PJ'},
 'std2': {'name': 'Pankaj', 'clg': 'LC'},
 'std3': {'name': 'Ashlesh', 'clg': 'NA'}}

In [52]:
stu['std1']

{'name': 'Mayur', 'clg': 'PJ'}

In [53]:
import pandas as pd

In [54]:
df = pd.DataFrame(stu)

In [56]:
df.T

         name clg
std1    Mayur  PJ
std2   Pankaj  LC
std3  Ashlesh  NA

In [59]:
# form the dictionary from the below list
marks = [90,91,93,95,99]
subject = ['Marathi', 'Hindi', 'English','Maths','Science']
dct={}
for i, key in enumerate(subject):
    for j in range(len(marks)):
        if i == j:  # match teh index if sub and marks
            dct[key]=marks[j]   # this will add the key and its value
print(dct)

{'Marathi': 90, 'Hindi': 91, 'English': 93, 'Maths': 95, 'Science': 99}

In [ ]:
# using update

In [67]:
dct1={}
for i, key in enumerate(subject):
    dct1.update({key:marks[i]})  # add 1 by one single valye as a another dict into original dict

In [68]:
dct

{'Marathi': 90, 'Hindi': 91, 'English': 93, 'Maths': 95, 'Science': 99}

In [70]:
# Using zip()

In [71]:
dict(zip(subject,marks))

{'Marathi': 90, 'Hindi': 91, 'English': 93, 'Maths': 95, 'Science': 99}

In [79]:
string = '''the quantities, characters, or symbols on which operations are performed by a computer, which may be stored and transmitted in the form 
of electrical signals and recorded on magnetic, optical, or mechanical9 mechanical recording media.'''
word_count ={}
for i in string.split():
    if i.isalpha():
        word_count[i]=string.count(f'{i}')
    elif i.isalnum():
        word_count[i]=string.count(f'{i}')
    else:
        i=i[:-1]
        word_count[i]=string.count(f'{i}')
word_count
#len(word_count)

{'the': 2,
 'quantities': 1,
 'characters': 1,
 'or': 7,
 'symbols': 1,
 'on': 3,
 'which': 2,
 'operations': 1,
 'are': 1,
 'performed': 1,
 'by': 1,
 'a': 19,
 'computer': 1,
 'may': 1,
 'be': 1,
 'stored': 1,
 'and': 2,
 'transmitted': 1,
 'in': 2,
 'form': 2,
 'of': 1,
 'electrical': 1,
 'signals': 1,
 'recorded': 1,
 'magnetic': 1,
 'optical': 1,
 'mechanical9': 1,
 'mechanical': 2,
 'recording': 1,
 'media': 1}

In [80]:
len(word_count)

30

In [83]:
from collections import Counter

In [84]:
Counter(string.split())

Counter({'the': 2,
         'or': 2,
         'on': 2,
         'which': 2,
         'and': 2,
         'quantities,': 1,
         'characters,': 1,
         'symbols': 1,
         'operations': 1,
         'are': 1,
         'performed': 1,
         'by': 1,
         'a': 1,
         'computer,': 1,
         'may': 1,
         'be': 1,
         'stored': 1,
         'transmitted': 1,
         'in': 1,
         'form': 1,
         'of': 1,
         'electrical': 1,
         'signals': 1,
         'recorded': 1,
         'magnetic,': 1,
         'optical,': 1,
         'mechanical9': 1,
         'mechanical': 1,
         'recording': 1,
         'media.': 1})

# sorting the dict using key

In [88]:
Sub = {'Marathi': 90, 'Hindi': 91, 'English': 93, 'Maths': 95, 'Science': 99}
sorted(Sub)

['English', 'Hindi', 'Marathi', 'Maths', 'Science']

In [90]:
sort_dct = sorted(Sub)
result={}
for key in sort_dct:  # using for loop
    result[key] = Sub[key]

print(result)

{'English': 93, 'Hindi': 91, 'Marathi': 90, 'Maths': 95, 'Science': 99}

In [92]:
dict(sorted(Sub.items()))  # using item sunction

{'English': 93, 'Hindi': 91, 'Marathi': 90, 'Maths': 95, 'Science': 99}

In [94]:
Sub.items()  # gives key value pair in form of tuple

dict_items([('Marathi', 90), ('Hindi', 91), ('English', 93), ('Maths', 95), ('Science', 99)])

## sorting based on values

In [100]:
subject = {'Math': 90, 'Science': 90, 'Geo': 93, 'History': 95, 'English': 86}
temp_dit = {}
for key, values in subject.items():  # gives the key value pair
    temp_dit[values]=key  # making key to values and values to key

output = dict(sorted(temp_dit.items()))   # sort the dict on the basis of new key

print(output)

{86: 'English', 90: 'Science', 93: 'Geo', 95: 'History'}

## formkey()
### this function is used to generate the key if we provide the list of item/elements

In [104]:
dict.fromkeys([1,2,3,4,5])

{1: None, 2: None, 3: None, 4: None, 5: None}