# Practice
## Mork 1

In [1]:
l = [5,7,1,4,4,2,4,99,44]
l

[5, 7, 1, 4, 4, 2, 4, 99, 44]

In [2]:
l.reverse()

In [3]:
l

[44, 99, 4, 2, 4, 4, 1, 7, 5]

In [5]:
sorted(l, reverse = True)

[99, 44, 7, 5, 4, 4, 4, 2, 1]

In [15]:
l.count(4) # give the numbe of elements present in the list

3

In [16]:
lst1 = [1,2,3,4]
lst2 = lst1
lst1,lst2

([1, 2, 3, 4], [1, 2, 3, 4])

In [18]:
lst1[1]=200
lst1

[1, 200, 3, 4]

In [19]:
lst2

[1, 200, 3, 4]

In [20]:
# copy function
lst2 = lst1.copy()

In [22]:
print(lst1)
print(lst2)

[1, 200, 3, 4]
[1, 200, 3, 4]

In [25]:
lst1[2]=300
lst1

[1, 200, 300, 4]

In [26]:
lst2  # this not change

[1, 200, 3, 4]

In [6]:
lst3 = [1,2,3,[9,8,7]]
lst4 = lst3.copy()

In [7]:
print(lst3)
print(lst4)

[1, 2, 3, [9, 8, 7]]
[1, 2, 3, [9, 8, 7]]

In [8]:
lst3[2]=300
print(lst3)
print(lst4)

[1, 2, 300, [9, 8, 7]]
[1, 2, 3, [9, 8, 7]]

In [9]:
lst4

[1, 2, 3, [9, 8, 7]]

In [10]:
lst3[3][0]=900
lst3

[1, 2, 300, [900, 8, 7]]

In [11]:
lst4  # so here the copy function is not work properly with the nested list

[1, 2, 3, [900, 8, 7]]

In [16]:
import copy
lst4=copy.deepcopy(lst3)

In [17]:
print(lst3)
print(lst4)

[1, 2, 300, [900, 8, 7]]
[1, 2, 300, [900, 8, 7]]

In [18]:
lst3[3][1]=800

In [19]:
print(lst3)   # so here the problem of copy function with nested list is resolved
print(lst4)

[1, 2, 300, [900, 800, 7]]
[1, 2, 300, [900, 8, 7]]

In [54]:
# append()

l= []

for i in range(4):
    l.append(i)

print(l)

[0, 1, 2, 3]

In [55]:
l.append((11,22,33,44))  # take as whole single object
l

[0, 1, 2, 3, (11, 22, 33, 44)]

In [59]:
l.extend(lst1)  # the extend function take iterator such as list, tuple... and add ech element of iterator as single 
l

[0, 1, 2, 3, (11, 22, 33, 44), 1, 200, 300, 4, 1, 200, 300, 4]

In [60]:
l = [1,2,3,4,5]
square_l = [i**2 for i in l]

In [61]:
square_l

[1, 4, 9, 16, 25]

In [63]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [69]:
lstt = [21,22,23,24,[1,2,3]]
lsttt = lstt.copy()
print(lstt)
print(lsttt)

[21, 22, 23, 24, [1, 2, 3]]
[21, 22, 23, 24, [1, 2, 3]]

In [73]:
lstt[0]=200
print(lstt)
lsttt

[200, 22, 23, 24, [1, 2, 3]]

[21, 22, 23, 24, [1, 2, 3]]

In [75]:
print(id(lstt)) # different location
print(id(lsttt))

1285844207296
1285846029184

In [77]:
lstt[4][0]=100 # both nested lists were change
print(lstt)
print(lsttt)  # referse the same memory loaction nested list

[200, 22, 23, 24, [100, 2, 3]]
[21, 22, 23, 24, [100, 2, 3]]

In [79]:
print(id(lstt[4]))
print(id(lsttt[4])) # same location

1285837110976
1285837110976

In [81]:
# find the common and sarts with 'a' element from the list
basket = ['apple', "Gava", 'cherry', "anana"]
my_Fruits = ['apple', 'kiwi','Grephs','anana']

for i in my_Fruits:
    if i in basket:
        if i.startswith('a'):
            print(i, end=' ')

apple anana

In [82]:
# using list comprehension
[fruit for fruit in my_Fruits if fruit in basket if fruit.startswith('a')]

['apple', 'anana']

In [84]:
# 2d matrix using list comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [86]:
# zip() used to join th each element of two or more list indexwise
l1 = [1,2,3,4]
l2 = [5,6,7,8]
list(zip(l1,l2))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [1]:
#cumulative sum

l = [1,2,3,4,5,6]
total = 0
cumsum=[]

for i in l:
    total += i
    cumsum.append(total)
print(cumsum)

[1, 3, 6, 10, 15, 21]

In [5]:
# py prog to add all gerater than curr including curr
list1 = [2,4,6,10,1]

temp = []
for i in list1:
    final = i
    for j in list1:
        if j > i:
            final += j
    temp.append(final)
print(temp)

[22, 20, 16, 10, 23]

In [24]:
# ['1ac21', '23fg', '456', '098d','1','kls']  sort based on the product value of int in strings
lst = ['1ac21', '23fg', '456', '098d','1','kls']
prod=1
prodlist=[]
for mix in lst:
    for i in mix:
        if i in "0123456789":
            prod *= int(i)
    prodlist.append(prod)

print(prodlist)

[2, 12, 1440, 0, 0, 0]

In [12]:
# O/P CampusX is a channel for data-science aspirants.
lst = ['CampusX is a channel', 'for data-science', 'aspirants.']
string  = ''
for word in lst:
    for sub in range(len(word)):
        print(' '.join(word[sub]), end = '')
    print(end=" ")

CampusX is a channel for data-science aspirants.

In [16]:
for i in lst:
    print(' '.join(i), end = ' ')

C a m p u s X   i s   a   c h a n n e l f o r   d a t a - s c i e n c e a s p i r a n t s .

In [22]:
# convet into string 
lst = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

for i in lst:
    print("".join(i), end=" ")                    # join function is used to jion all the element i the list as a string

campux is best channel

In [26]:
final  = ' '.join([''.join(words) for words in lst])
print(final)

campux is best channel

In [29]:
# union of two list

L1=[1,2,3,4,5,1]
L2=[2,3,5,7,8]
L1.extend(L2)
for i in L1:
    if i not in l3:
        l3.append(i)
print(l3)

[1, 2, 3, 4, 5, 7, 8]

In [30]:
# max of each row
mat = [[1,2,3],[4,5,6],[7,8,9]]
maximun = []
for i in mat:
    maximun.append(max(i))

print(maximun)

[3, 6, 9]

In [66]:
# transpose the matrix
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]

abc =[[row[i] for row in matrix] for i in range(len(matrix))]
print(abc)
print(*abc)     # used to unfols the matrix

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]
[1, 4, 7] [2, 5, 8] [3, 6, 9]

In [61]:
for i in range(len(matrix[0])):
    temp = []
    for row in matrix:
       temp.append(row[i])
    
    print(temp)

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

## Tuple

In [8]:
# creating tuple
tup = (1,2,3,4,5)
tup1 = (1,2,True, [1,2,3],1.2, 2+4j,{1:2,3:4} ) # heterogenous elements 
t = ("Ma",) # tuple having single element
type(t)

tt = ()   # empty tuple

tuple

In [11]:
# accessing elements indexing and slicing 

tup1[1]
tup1[-1][1]

2

In [12]:
tup1[2]

True

### since tuple is a immutable data type we cannot perform the mofdification operation on the tuple i.e add and delete elements

In [13]:
t = (1,2,3,4,5)
t[-1::-1]

(5, 4, 3, 2, 1)

In [16]:
# we can perform + and *  operation on the tuple 
tt = (6,7,8,9)
print(t + tt)      # conctinate the two tuples
print(tt*2)        # will multipy the tuple size elements

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(6, 7, 8, 9, 6, 7, 8, 9)

In [21]:
# tuple function
print(min(t))
print(max(t))
print(sum(t))
print(len(t))
print(sorted(t, reverse=True))

1
5
15
5
[5, 4, 3, 2, 1]

In [23]:
t.count(5)  # will give the count of elements present in the tuple

1

In [30]:
print(t.index(5))  # gives the index of the element 
                    # find function is present in the string

4

In [34]:
L = list(range(1,10))
L

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
num = int(input("Enter number: "))
if num>1:
  for i in range(2, num//2 + 1):
     if num % i==0:
        print("Not Prime")
        break
  else:
        print("Prime")
else:
    print("Not Prime")

Enter number:  13

Prime

In [25]:
## adding into tuple using arithmtic operation 

t = (1,2,3,4)    # like append function in 
print(t+(4,))

(1, 2, 3, 4, 4)

In [45]:
# tuple special syntax
a,b,c = (1,2,3)        # tuple unpacking 
print(a,b,c)           # nmber of variable must be same to unpack the

1 2 3

In [48]:
a,b,*other = (1,2,3,4,5,6)
a

1

In [49]:
b

2

In [53]:
other  # will include all other remaining elements while unpacking the tuple (*)

[3, 4, 5, 6]

In [68]:
# zip() # zip function is used to pair the index wise elements of two or more than two lists or tuples
t = ['a','b','c','d']
l = (1,2,3,4)
x = zip(t,l)
print(list(x))
#print(tuple(x))

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

# SET

In [1]:
# set() used to create the set
s = set()

In [3]:
type(s)

set

In [17]:
s = {1,2,3,4,4,5,5}  # set contans unique value
s

{1, 2, 3, 4, 5}

In [5]:
# we cannot access the set elements as set is unordered data type

In [11]:
# we can add and update the set via add() and update() method

{(6, 7, 8), 1, 2, 3, 4, 5, 6}

In [42]:
s.update((6,7,8))      # As like extend() function it takes iterable value and not a single value
s

{3, 4, 5, 6, 7, 8}

In [22]:
# set function

print(min(s))
print(max(s))
print(len(s))
print(sum(s))
print(sorted(s))  # sorted gives the sorted elements of the

1
8
8
36
[1, 2, 3, 4, 5, 6, 7, 8]

In [43]:
# Deleting items
s.remove(8)       # remove item wise. have to specify specific items throw error if value not found
s.discard(7)      # delete elemet by specifying its value will not throw error if value is not found 
s.pop()          # remove first element del 1 and 2
s.clear()        # clear all elements from the list
s                # gives empty set after clearing all items

set()

# union, intersection, difference symetric, difference
 | gives the union of set
 & intersection
 ^ symetric difference
 - difference between

In [62]:
s1 = {1,2,3,4,5,6}
s2 = {5,6,7,8}
print(s1 | s2)   # union
print(s1 & s2)   # common
print(s1 ^ s2)   # uncommon elements
print(s1 - s2)   # s1 elements not having s2

{1, 2, 3, 4, 5, 6, 7, 8}
{5, 6}
{1, 2, 3, 4, 7, 8}
{1, 2, 3, 4}

In [ ]:
# function
print(s1.intersection(s2))   # will update the first set with new value by clearing old values 
print(s2.intersection_update(s1))

print()

In [63]:
s1.difference(s2)

{1, 2, 3, 4}

In [64]:
s1

{1, 2, 3, 4, 5, 6}

In [65]:
s1.difference_update(s2) # make permanent change in original values by updating the set

In [66]:
s1

{1, 2, 3, 4}

In [68]:
s1.update([5,6])
s1

{1, 2, 3, 4, 5, 6}

In [69]:
s1.symmetric_difference(s2) # all uncommon

{1, 2, 3, 4, 7, 8}

In [70]:
s1.symmetric_difference_update(s2)

In [71]:
s1

{1, 2, 3, 4, 7, 8}

In [72]:
# membership operator
1 in s1

True

In [73]:
10 in s2

False

In [74]:
for i in s1:
    print(i)

1
2
3
4
7
8

In [ ]:
# issubset()     check if set is subset of another give T/F
#issuperset()    check for superset
#isdisjoint()    check of disjoint sets

In [83]:
# frozenset it is a immutable version of set once it is created it cnnot be modified 
f1=frozenset([1,2,3,4,5])
f2=frozenset({4,5,6})
print(f1)
f2

frozenset({1, 2, 3, 4, 5})

frozenset({4, 5, 6})

In [84]:
f1 | f2

frozenset({1, 2, 3, 4, 5, 6})

In [85]:
f1 - f2

frozenset({1, 2, 3})

In [86]:
f1^f2

frozenset({1, 2, 3, 6})

In [87]:
f1& f2

frozenset({4, 5})

In [88]:
f3 = frozenset((1,2,3,{5,6}))

TypeError: unhashable type: 'set'

In [90]:
f4 = frozenset((1,2,3,frozenset({5,6})))
f4

frozenset({1, 2, 3, frozenset({5, 6})})

# Dictionary

In [3]:
# create

d= {}
type(d)

dict

In [5]:
d1 = {'name':'Mayur','age':27,'Gender':'Male'}
d1

{'name': 'Mayur', 'age': 27, 'Gender': 'Male'}

In [7]:
nd = {'add': 'Tumsar',
      'clg':'PJLCE',
      'subject':{'math':100,
                'english':80,
                'Science': 95}}
nd

{'add': 'Tumsar',
 'clg': 'PJLCE',
 'subject': {'math': 100, 'english': 80, 'Science': 95}}

In [8]:
nd['subject']

{'math': 100, 'english': 80, 'Science': 95}

In [9]:
# Adding key-values in dictionary

d1['ID']=1234

In [10]:
d1

{'name': 'Mayur', 'age': 27, 'Gender': 'Male', 'ID': 1234}

In [11]:
d1['school']='Sharda'

In [12]:
d1

{'name': 'Mayur', 'age': 27, 'Gender': 'Male', 'ID': 1234, 'school': 'Sharda'}

In [13]:
d1.items() # gives all the key value pair in pair in the form of tule

dict_items([('name', 'Mayur'), ('age', 27), ('Gender', 'Male'), ('ID', 1234), ('school', 'Sharda')])

In [14]:
d1.keys()  # gives all key

dict_keys(['name', 'age', 'Gender', 'ID', 'school'])

In [16]:
d1.values() # gives values

dict_values(['Mayur', 27, 'Male', 1234, 'Sharda'])

In [22]:
d1['name']='Mayur'

In [26]:
# Deleting iteam from the dict
del d1['name']
d1

{'age': 27, 'Gender': 'Male', 'ID': 1234, 'school': 'Sharda'}

In [29]:
d1.pop('Gender')   # it requires

'Male'

In [30]:
d1

{'age': 27, 'ID': 1234, 'school': 'Sharda'}

In [31]:
d1.popitem()  # this function delete the last item from the dict

('school', 'Sharda')

In [33]:
d1

{'age': 27, 'ID': 1234}

In [34]:
d1.clear()   # this function delete all the iteams from the list

In [35]:
d1

{}

In [36]:
# setdefault() this fucnction is used get the value from the dict by giving the key and if key is not present it will 
# not through error and create the key and assign None value to it 

d1 = {'age': 27, 'Gender': 'Male', 'ID': 1234, 'school': 'Sharda'}

In [37]:
d1.setdefault('age')   # gives value of the kay

27

In [38]:
d1.setdefault('state')  # key is not present so create key as state and assign None value to it

In [39]:
d1

{'age': 27, 'Gender': 'Male', 'ID': 1234, 'school': 'Sharda', 'state': None}

In [40]:
d1.setdefault('company', 'TCS')  # by this you can add key value pair in the dictionary

'TCS'

In [41]:
d1

{'age': 27,
 'Gender': 'Male',
 'ID': 1234,
 'school': 'Sharda',
 'state': None,
 'company': 'TCS'}

In [42]:
# Nested dictionary

In [47]:
ndct = {'clg1':{'Name':'Mayur', 'age':27},
       'clg2':{'Name':'Pankaj', 'age':28},
       'clg3':{'Name':'Ayush', 'age':24}}
ndct

{'clg1': {'Name': 'Mayur', 'age': 27},
 'clg2': {'Name': 'Pankaj', 'age': 28},
 'clg3': {'Name': 'Ayush', 'age': 24}}

In [50]:
ndct['clg2']['Name']

'Pankaj'

In [57]:
import pandas as pd
df = pd.DataFrame(ndct)
df

       clg1    clg2   clg3
Name  Mayur  Pankaj  Ayush
age      27      28     24

In [58]:
df.T

        Name age
clg1   Mayur  27
clg2  Pankaj  28
clg3   Ayush  24

In [59]:
# dictionary from two List

In [68]:
marks = [90,91,93,95,99]
subject = ['Marathi', 'Hindi', 'English','Maths','Science']
dct = {}
for key, value in zip(marks, subject):   # using zip()
    dct[value] = key

print(dct)

{'Marathi': 90, 'Hindi': 91, 'English': 93, 'Maths': 95, 'Science': 99}

In [70]:
dct = {}
for i , key in enumerate(subject):     # will take 1 marathi 2 hindi 
    for j in range(len(marks)):        # from 1 to len(marks)
        if i == j:                     # check 1 == 1 i.e enum 1 and index of marks
            dct[key]=marks[j]          # will from dictionary key as sub and marks as values 
dct

{'Marathi': 90, 'Hindi': 91, 'English': 93, 'Maths': 95, 'Science': 99}

In [72]:
# using update() function 
dct = {}
for i, key in enumerate(subject):
    dct.update({key:marks[i]})

print(dct)

{'Marathi': 90, 'Hindi': 91, 'English': 93, 'Maths': 95, 'Science': 99}

In [75]:
# using zip()

dct11 = dict(zip(subject, marks))
print(dct11)

{'Marathi': 90, 'Hindi': 91, 'English': 93, 'Maths': 95, 'Science': 99}

In [82]:
# count the each word in the string
string = '''the quantities, characters, or symbols on which operations are performed by a computer, which may be stored and transmitted in the form 
of electrical signals and recorded on magnetic, optical, or mechanical9 mechanical recording media.'''
count = {}
for i in string.split():
    if i.isalpha():
        count[i]=string.count(f'{i}')
    elif i.isalnum():
        count[i]=string.count(f'{i}')
    else:
        i = i[:-1]
        count[str(i)]=string.count(f'{i}')
print(len(count))
count

30

{'the': 2,
 'quantities': 1,
 'characters': 1,
 'or': 7,
 'symbols': 1,
 'on': 3,
 'which': 2,
 'operations': 1,
 'are': 1,
 'performed': 1,
 'by': 1,
 'a': 19,
 'computer': 1,
 'may': 1,
 'be': 1,
 'stored': 1,
 'and': 2,
 'transmitted': 1,
 'in': 2,
 'form': 2,
 'of': 1,
 'electrical': 1,
 'signals': 1,
 'recorded': 1,
 'magnetic': 1,
 'optical': 1,
 'mechanical9': 1,
 'mechanical': 2,
 'recording': 1,
 'media': 1}

In [89]:
from collections import Counter      # Counter C capital
Counter(string.split())

Counter({'the': 2,
         'or': 2,
         'on': 2,
         'which': 2,
         'and': 2,
         'quantities,': 1,
         'characters,': 1,
         'symbols': 1,
         'operations': 1,
         'are': 1,
         'performed': 1,
         'by': 1,
         'a': 1,
         'computer,': 1,
         'may': 1,
         'be': 1,
         'stored': 1,
         'transmitted': 1,
         'in': 1,
         'form': 1,
         'of': 1,
         'electrical': 1,
         'signals': 1,
         'recorded': 1,
         'magnetic,': 1,
         'optical,': 1,
         'mechanical9': 1,
         'mechanical': 1,
         'recording': 1,
         'media.': 1})

In [92]:
# sorting  dictionary
Sub = {'Marathi': 90, 'Hindi': 91, 'English': 93, 'Maths': 95, 'Science': 99}

In [96]:
# sort based on key
sort = sorted(Sub)
sort

['English', 'Hindi', 'Marathi', 'Maths', 'Science']

In [101]:
# first sort the kay into list and take each element as key in soreted list and append the respected value from the Sub dict
dct = {}
for key in sort:
    dct[key] = Sub[key]  # dct[key] form the key and Sub[key] access value from the sub dict on the basis of key and add to dct
print(dct)

{'English': 93, 'Hindi': 91, 'Marathi': 90, 'Maths': 95, 'Science': 99}

In [102]:
# using item function
sorted(Sub.items())  # gives list of sorted elements based on key

[('English', 93),
 ('Hindi', 91),
 ('Marathi', 90),
 ('Maths', 95),
 ('Science', 99)]

In [104]:
dict(sorted(Sub.items())) # convert list into dictionary

{'English': 93, 'Hindi': 91, 'Marathi': 90, 'Maths': 95, 'Science': 99}

In [120]:
# sort on the basis of value  to do this first need to chage key to value and value to key
Sub = {'Marathi': 83, 'Hindi': 97, 'English': 98, 'Maths': 95, 'Science': 99}
temp_dct={}

for key,value in Sub.items():
    temp_dct[value]=key

print(temp_dct)
sorted_dct = dict(sorted(temp_dct.items()))
print(sorted_dct)

{83: 'Marathi', 97: 'Hindi', 98: 'English', 95: 'Maths', 99: 'Science'}
{83: 'Marathi', 95: 'Maths', 97: 'Hindi', 98: 'English', 99: 'Science'}

In [106]:
dct.items()

dict_items([('English', 93), ('Hindi', 91), ('Marathi', 90), ('Maths', 95), ('Science', 99)])

In [ ]:
# fromkeys() form the list of elements into the

## Set dict tuple

In [13]:
# join tuple if similar initial elements
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

def join_tuple(test_list):
    temp_list = []
    result = []
    
    for current in test_list:
        if not temp_list:
            temp_list.extend(current)
        elif current[0]==temp_list[0]:
            temp_list.append(current[1])
        else:
            result.append(tuple(temp_list))
            
    if temp_list:
        result.append(tuple(temp_list))
        
    return result
    
output = join_tuple(test_list)
print(output)

[(5, 6, 7, 8), (5, 6, 7, 8), (5, 6, 7, 8)]

In [15]:
# multiply adjucent elements
# 1, 5, 7, 8, 10)----> (5, 40, 91, 136, 80)

tpl = (1, 5, 7, 8, 10)
result = []
result.append(tpl[0]*tpl[1])

for i in range(1, len(tpl)-1):
    result.append(tpl[i-1]*tpl[i]+tpl[i]*tpl[i+1])

result.append(tpl[-1]*tpl[-2])

print(f'{tpl}--->{tuple(result)}')

(1, 5, 7, 8, 10)--->(5, 40, 91, 136, 80)

In [18]:
# Write a program to Check if a given string is binary string of or not.
user_inpur = input("Enter String to check if bianry or not: ")
test = set()

for i in user_inpur:
    test.add(i)

if len(test)==2:      # binary meance having two char only 
    print("BINARY")
else:
    print("NOT BINARY")

Enter String to check if bianry or not:  10101010101

BINARY

In [22]:
# Find the intersection of list
lst1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]
lst2 = [9, 4, 5, 36, 47, 26, 10, 45, 87]

result = [x for x in lst1 if x in lst2]
print(set(result))

{9, 10, 4, 5}

In [4]:
# unique number of vowels in strinf using set

string = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"

vowels = {'a','e','i','o','u','A','E','I','O','U'}
unique = set()
for i in string:
    if i in vowels:
        unique.add(i)

print('Unique number of vowels:',len(unique))

Unique number of vowels: 6

In [5]:
# Union of list
lst = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
uni = set()
for row in lst:
    for i in row:
        uni.add(i)

print(uni)

{1, 2, 3, 4, 5, 6, 7, 9}

In [10]:
# Key with maximum unique value

 
maxlen = 0
maxKey = None
for key, value in test_dict.items():
    length = len(set(value))
    if length > maxlen:
        maxlen = length
        maxKey = key

print(f'Key having maximun value: {maxKey}')

Key having maximun value: CampusX

In [14]:
# replace the words of the string from the lookup dictionary 
test_str = 'CampusX best for DS students.'
repl_dict = {"best": "is the best channel", "DS": "Data-Science"}

for key, value in repl_dict.items():
    test_str = test_str.replace(key, value)

print(test_str)

CampusX is the best channel for Data-Science students.

In [20]:
# convert the kist to key value pair 
#O/P [{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
output = []
for i in range(0, len(test_list),len(key_list)):
    dict_items=dict(zip(key_list, test_list[i:i+len(key_list)]))
    output.append(dict_items)
print(output)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]