# pattern

In [8]:
for i in range(1,6):
    for j in range(1,i+1):  # here i is incresing 
        print(j, end='')

    for k in range(i-1,0,-1): # i is decreasing
        print(k,end='')

    print()

1
121
12321
1234321
123454321

In [10]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
result = []
temp = []
for item in test_list:
    if item[0] not in temp:
        temp.extend(item)
    else:
        temp.append(item[1])

print(temp)

[5, 6, 7, 8, 10, 13]

In [16]:
def foo(test_list):
    result=[]
    temp=[]
    for current in test_list:
        if not temp:
            temp.extend(current)
        elif temp[0]==current[0]:
            temp.append(current[1])
        else:
            result.append(tuple(temp))
            temp = list(current)
    if temp:
        result.append(tuple(temp))
    return result

foo(test_list)

[(5, 6, 7, 8), (6, 10), (7, 13)]

(1, 5, 7, 8, 10) -->(5, 40, 91, 136, 80)

In [19]:
lst = (1, 5, 7, 8, 10)
result=[]
result.append(lst[0]*lst[1])

for i in range(1,len(lst)-1):  
    result.append(lst[i-1]*lst[i]+lst[i]*lst[i+1])

result.append(lst[-1]*lst[-2])

print(result)

[5, 40, 91, 136, 80]

In [20]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
c1=c2=c3=0
for i in list1:
    if type(i)==tuple:
        c1 += 1
    elif type(i)==list:
        c2 += 1
    else:
        c3 += 1

print(f'tuple-{c1} list-{c2} set-{c3}')

tuple-1 list-2 set-2

In [21]:
# find common elements using set

In [24]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
s1 = set(ar1)
s2 = set(ar2)
s3 = set(ar3)
print(list(s1&s2&s3))  # using intersetion operation

[80, 20]

In [27]:
s1.intersection(s2,s3)

{20, 80}

In [28]:
# count number of vowels

In [30]:
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
vowel = {'a','e','i','o','u','A','E','I','O','U'}
unique = set()
count = 0

for i in Str1:
    if i in vowel:
        unique.add(i)
print(len(unique))

6

In [31]:
# check for binary string 
### string is binary if it contains only two types of digits

In [35]:
string = input('Enter string: ')
s = set()
if string.isnumeric():
    for char in string:
        s.add(char)
    if len(s)==2:
        print('Yes Binary')
    else:
        print('Not Binary')
else:
    print('sring contains characters')

Enter string:  121212121212

Yes Binary

In [37]:
# Intersection usung list comprehension
lst1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]
lst2 = [9, 4, 5, 36, 47, 26, 10, 45, 87]
[i for i in lst1 if i in lst2]

[9, 10, 5, 4, 9]

In [38]:
# Key with maximun unique values

In [40]:
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
max_count=0
max_key = None
for key, values in test_dict.items():
    if max_count<len(set(values)):
        max_count=len(set(values))
        max_key=key

print(max_key)

CampusX

In [ ]:
# Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

In [48]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best": "is the best channel", "DS": "Data-Science"}

for key, value in repl_dict.items():
    test_str=test_str.replace(key, value)  #here the key that is best from dict snd in string is get replace d with the value

test_str

'CampusX is the best channel for Data-Science students.'

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

In [50]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
dct={}
for key in key_list:
    for value in range(len(test_list)):
        dct[key]=test_list[:,2]

print(dct)

TypeError: list indices must be integers or slices, not tuple

In [51]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
dct = []

for i in range(0, len(test_list), 2):  # Step through pairs of values
    pair = {key_list[0]: test_list[i], key_list[1]: test_list[i + 1]}
    dct.append(pair)

print(dct)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

In [56]:
lst = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

print(dict(lst))

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

In [54]:
dct={}
for key, value in lst:
    dct[key]=value

In [57]:
print(dct)

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

In [58]:
input_dict = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
sorted(input_dict)

['a', 'b', 'c']

In [61]:
dct = {}
for i in sorted(input_dict):   # sorted keys
    dct[i] = sorted(input_dict[i])# sorted key and their respected values which will sort by sorted function

In [62]:
dct

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

# NUMPY

In [1]:
import numpy as np

In [2]:
# null vector having size 10 5th value 1

In [5]:
null_v=np.zeros(10)
null_v[4]=1

In [6]:
null_v

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

In [7]:
# take user input for two numbers and make array of that size and return the mean

In [11]:
a=int(input('ENter 1st num: '))
b=int(input('Enter second num: '))
arr = np.random.randint((a,b, a*b))
print(arr)
print(np.mean(arr))

ENter 1st num:  2
Enter second num:  2

[1 0 1]
0.6666666666666666