# Tuple

In [3]:
t1 = ()
type(t1)

tuple

In [11]:
t2 = ('Mayur')
print(type(t2))
print(t2)

<class 'str'>
Mayur

In [5]:
t1 = ('Hello',)  # only single element in the tuple act as a string. so create tuple comma seperated value should be give 
type(t1)

tuple

In [11]:
type(t1)

tuple

In [14]:
t1 = (1,2.5,True, [1,2,3])  # tulpe is similar like List were we can store heteregenous value inside it
print(t1)

(1, 2.5, True, [1, 2, 3])

In [12]:
string = "Hello"  
print(string)
tuple(string)

Hello

('H', 'e', 'l', 'l', 'o')

## Indexing ANd Slicing

In [31]:
tpl=(1,2,3,4,5,6)
print(tpl)

(1, 2, 3, 4, 5, 6)

In [18]:
tpl[0:]

(1, 2, 3, 4, 5, 6)

In [19]:
tpl[2:]

(3, 4, 5, 6)

In [20]:
tpl[-1]

6

In [25]:
tpl[-4:-1]

(3, 4, 5)

In [26]:
tpl[::-1]

(6, 5, 4, 3, 2, 1)

In [32]:
print(tpl)

(1, 2, 3, 4, 5, 6)

In [33]:
del tpl

In [28]:
print(tpl)

NameError: name 'tpl' is not defined

In [1]:
t1 = (1.2,3,4,5)
t2 = (6,7,8,9,0)
print(t1+t2) # add the two tuples adiition operator 
print(t1*2) # multiply the tuple * times

(1.2, 3, 4, 5, 6, 7, 8, 9, 0)
(1.2, 3, 4, 5, 1.2, 3, 4, 5)

### len min max sorted sum

In [5]:
len(t1)

4

In [6]:
min(t1)

1.2

In [7]:
max(t1)

5

In [8]:
sum(t1) # add all the elements of the array

13.2

In [12]:
sorted(t1, reverse=True)

[5, 4, 3, 1.2]

In [15]:
t1=(12,77, 54,0,6,65,44)

t1.count(44) # count the number of occurencess of item or element

1

In [17]:
 t1.index(0) # Gives the index of the element

3

In [2]:
import time

L=list(range(100000))
T=tuple(range(100000))

start = time.time()

for i in L:
    i*5
print("LIST Time Required: ", time.time()- start)

start = time.time()

for i in T:
    i*5
print("Tuple time Required: ", time.time()-start)

LIST Time Required:  0.018976211547851562
Tuple time Required:  0.04929852485656738

In [ ]:
import time 

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

In [1]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [3]:
Lst = [1,2,4]
l = Lst
Lst.append(3)
print(Lst, l)

[1, 2, 4, 3] [1, 2, 4, 3]

In [6]:
t = (1,2,3)
t1 =t
print(t,t1)
print(t + (4,))

t1

(1, 2, 3) (1, 2, 3)
(1, 2, 3, 4)

(1, 2, 3)

In [8]:
# Tuple unpacking

a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [9]:
a,c =  (1,3,5)

ValueError: too many values to unpack (expected 2)

In [12]:
# swapping 
a =11
b=22

a,b = b,a
print("a: ",a)
print("b: ",b)

a:  22
b:  11

In [14]:
a,b,*c = 1,2,3,5,6,67,8,9 # is used to unpack the tupple

In [14]:
a,b,*c = 1,2,3,5,6,67,8,9

In [15]:
print(c)

[3, 5, 6, 67, 8, 9]

In [16]:
a

1

In [17]:
b

2

In [18]:
c

[3, 5, 6, 67, 8, 9]

In [24]:
a = (1,2,3,4)
b =(5,6,7,8)
c= zip(a,b)
tuple (c)

[(1, 5), (2, 6), (3, 7), (4, 8)]

# SET

In [28]:
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [30]:
s = {1,2,3,4,5,5,5}
s

{1, 2, 3, 4, 5}

In [31]:
s2 = {1,2,3,{4,5}}

TypeError: unhashable type: 'set'

In [33]:
s3 = {1,2.2,"Mayur",4+9j, (1,2,3), True }
s3

{(1, 2, 3), (4+9j), 1, 2.2, 'Mayur'}

In [1]:
s1={1,2,3} # Since the sets are unorderd 
s2={3,2,1}
print(s1==s2)

print(id(s1))
print(id(s2))

True
2345815922656
2345815923552

### Since the set is unorderd data type(Object) we cannot access the items of indexing and slicing

### Adding using add() and update()

In [39]:
s = {1,2,3,4}
s.add(5) # to add signle element
print(s)

{1, 2, 3, 4, 5}

In [40]:
s.update([11,22,33])
print(s)

{1, 2, 3, 4, 5, 33, 11, 22}

#### Set funtions

In [53]:
s1 = {3,1,4,5,2,7}
min(s1)

1

In [42]:
max(s1)

7

In [44]:
len(s1)

6

In [45]:
sum(s1)

22

In [49]:
sorted(s1)

[1, 2, 3, 4, 5, 7]

### Deleting Items

In [57]:
s1.remove(1) 
print(s1)

{2, 3, 4, 5}

In [63]:
s1.discard(9) # discard function will not give error if the item is not present in the set and conyinoue to the program flow
print(s1)     # while remove function throws an error if the item is not present

{4, 5}

In [64]:
s1.pop() # pop function remove the starting element of the set 
print(s1)

{5}

In [65]:
s1.clear() # this function clears all the elements from the set 
print(s1)

set()

### Set Function union() update()

In [70]:
s1={1,2,3,4}
s2={5,6,7,8, 2,3}

s1 | s2
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8}

In [72]:
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [74]:
s2

{2, 3, 5, 6, 7, 8}

In [107]:
s1={1,2,3,4}
s2={5,6,7,8, 2,3}

s1&s2 #common elements

print(s1.intersection(s2))  # both  gives the same result
print(s2.intersection_update(s1))
s2

{2, 3}
None

{2, 3}

In [86]:
print(s1 - s2)  #the elements which are present in s1 and not in s2
print(s2-s1)    # the elements which are present in s2 and not in s1

{1, 4}
{8, 5, 6, 7}

{5, 6, 7, 8}

In [82]:
# Symetric difference
s1^s2 ## the elements which are not common from both the sets

{1, 4, 5, 6, 7, 8}

In [83]:
1 in s1 # membership operator

True

In [84]:
for i in s1:
    print(i)

1
2
3
4

#### difference and difference_update

In [89]:
#s1-s2

print(s1.difference(s2))
s1.difference_update(s2) # will get the difference and stope in the s1(first set)
s1

{1, 4}

{1, 4}

In [93]:
# Symetric difference
# s1 ^ s2 
# the elements which are not common from both the sets

s1={1,2,3,4}
s2={5,6,7,8,2,3}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 4, 5, 6, 7, 8}
{2, 3, 5, 6, 7, 8}

## issubset() / issuperset() / isdisjoint

In [94]:
s1 = {1,2,3,4}
s2 = {9,8,7,6}
s1.issubset(s2)

False

In [95]:
s1.isdisjoint(s2)

True

In [96]:
s1.issuperset(s2)

False

In [97]:
s1.issubset(s1)

True

In [98]:
s1.issuperset(s1)

True

### copy()

In [100]:
s3 = s1.copy()

In [101]:
s3

{1, 2, 3, 4}

In [102]:
s2.add(23)

In [103]:
s1.add(44)

In [104]:
s3

{1, 2, 3, 4}

In [105]:
s1

{1, 2, 3, 4, 44}

## ForzenSet
---immutable form of set 
---we can add another frozen set inside the set as it is immutable
---set property: set not allows mutable items in it as list, set, tuple dict 
--- use frozenset() constructor to define frozenset

In [114]:
f1 = frozenset([1,2,3,4])
f2 = frozenset((5,6,7,8,2,3))
f2

frozenset({2, 3, 5, 6, 7, 8})

In [113]:
f1|f2

frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [115]:
f1 & f2

frozenset({2, 3})

In [116]:
f1^f2

frozenset({1, 4, 5, 6, 7, 8})

In [117]:
f1-f2

frozenset({1, 4})

In [118]:
f2-f1

frozenset({5, 6, 7, 8})

In [123]:
f3 = frozenset({1,2,3,4,frozenset([2,3])})
f3

frozenset({1, 2, 3, 4, frozenset({2, 3})})

### SET comprehension

In [3]:
{i**2 for i in range(1,11) if i>5}

# here we squre the elements from range 1 to 10 display the square for the value which is greated than 5 since from 6

{36, 49, 64, 81, 100}

# DICTIONARY

In [3]:
d1 = {}
type(d1)

dict

In [5]:
d2 = {"Name: ": "Mayur", "Age: ": 27, "Profession: ": "Data Scientest"}
print(d2)

{'Name: ': 'Mayur', 'Age: ': 27, 'Profession: ': 'Data Scientest'}

In [8]:
d3 = {(1,2,3):['x','y','z'], 2.5:5.2,(4+3j):"csv"}
print(d3)

{(1, 2, 3): ['x', 'y', 'z'], 2.5: 5.2, (4+3j): 'csv'}

In [5]:
d42D = {'name': "Mayur",
        'college': "PJLCE",
       'subject':{'math': 100,
                 'English': 200,
                 'DS': 'Outoff'}}

In [6]:
print(d42D)

{'name': 'Mayur', 'college': 'PJLCE', 'subject': {'math': 100, 'English': 200, 'DS': 'Outoff'}}

### Accessing Items by using key and get()

In [1]:
dct = {'name': 'Mayur', "age": 27, 'gender': 'Male'}

In [2]:
dct["name"]

'Mayur'

In [3]:
dct.get("name")

'Mayur'

In [8]:
d42D = {'name': "Mayur",
        'college': "PJLCE",
       'subject':{'math': 100,
                 'English': 200,
                 'DS': 'Outoff'}}

In [12]:
d42D['subject']['DS']

'Outoff'

### Adding key Valu Pair

In [14]:
dct = {'name': 'Mayur', "age": 27, 'gender': 'Male'}

{'name': 'Mayur', 'age': 27, 'gender': 'Male'}

In [15]:
dct['clg']='pjlce'

In [16]:
dct

{'name': 'Mayur', 'age': 27, 'gender': 'Male', 'clg': 'pjlce'}

In [17]:
dct['year']=2020

In [18]:
dct

{'name': 'Mayur', 'age': 27, 'gender': 'Male', 'clg': 'pjlce', 'year': 2020}

In [19]:
dct.items()

dict_items([('name', 'Mayur'), ('age', 27), ('gender', 'Male'), ('clg', 'pjlce'), ('year', 2020)])

In [22]:
dct.keys()

dict_keys(['name', 'age', 'gender', 'clg', 'year'])

### Removing key value pair
#### del clear() pop(key needed) popitem(remove_last by def)

In [24]:
dct

{'name': 'Mayur', 'age': 27, 'gender': 'Male', 'clg': 'pjlce', 'year': 2020}

In [26]:
dct.pop("year")

2020

In [27]:
dct

{'name': 'Mayur', 'age': 27, 'gender': 'Male', 'clg': 'pjlce'}

In [28]:
dct.popitem()

('clg', 'pjlce')

In [29]:
dct

{'name': 'Mayur', 'age': 27, 'gender': 'Male'}

In [30]:
del dct['age']

In [31]:
dct

{'name': 'Mayur', 'gender': 'Male'}

In [32]:
dct.clear()

In [33]:
dct

{}

## Setdefault()

this function is used to get the value by specifying the key in the funtion. if the specific key is not present in the dictionary
it will create the key in the dictionary and assign the value as None. it will not throw error if key is not found

In [2]:
empdata = {'EMP_Name': 'Satish','salary':100000, 'Designation':'DataScientist', 'age':55, 'EMP_ID':10202}
empdata

{'EMP_Name': 'Satish',
 'salary': 100000,
 'Designation': 'DataScientist',
 'age': 55,
 'EMP_ID': 10202}

In [3]:
empdata.setdefault('salary')

100000

In [4]:
empdata.setdefault('Company') # will create key company as it is not present in the dictionary and assign the None value

In [5]:
empdata

{'EMP_Name': 'Satish',
 'salary': 100000,
 'Designation': 'DataScientist',
 'age': 55,
 'EMP_ID': 10202,
 'Company': None}

In [6]:
empdata.setdefault('EMP_ID', 11111) # if the key is already present we cannot change its value

10202

In [7]:
empdata

{'EMP_Name': 'Satish',
 'salary': 100000,
 'Designation': 'DataScientist',
 'age': 55,
 'EMP_ID': 10202,
 'Company': None}

In [8]:
empdata.setdefault('Company', 'TCS')

In [9]:
empdata

{'EMP_Name': 'Satish',
 'salary': 100000,
 'Designation': 'DataScientist',
 'age': 55,
 'EMP_ID': 10202,
 'Company': None}

### Nested Dictonary

In [12]:
emp_records = {'CG001':{'name': 'Ashish', 'age':32},
              'CG002':{'name': 'Jayesh', 'age':23},
              'CG003':{'name': 'Pankaj', 'age':22}}
emp_records

{'CG001': {'name': 'Ashish', 'age': 32},
 'CG002': {'name': 'Jayesh', 'age': 23},
 'CG003': {'name': 'Pankaj', 'age': 22}}

In [15]:
emp_records['CG003']['name']

'Pankaj'

In [18]:
import pandas as pd

In [20]:
df = pd.DataFrame(emp_records)
df.T

         name age
CG001  Ashish  32
CG002  Jayesh  23
CG003  Pankaj  22

In [25]:
marks = [90,91,93,95,99]
subject = ['Marathi', 'Hindi', 'English','Maths','Science']
dct = {}
for i, key in enumerate(subject):
    for j in range(len(marks)):
        if i==j:
           dct[key] = marks[j]
print(dct)

{'Marathi': 90, 'Hindi': 91, 'English': 93, 'Maths': 95, 'Science': 99}

## Using update()

In [34]:
dct1 ={}
for i, key in enumerate(subject):
     dct1.update({key:marks[i]})

print(dct1)

{'Marathi': 90, 'Hindi': 91, 'English': 93, 'Maths': 95, 'Science': 99}

## Using zip()

In [35]:
dct3 = dict(zip(subject, marks))

In [36]:
dct3

{'Marathi': 90, 'Hindi': 91, 'English': 93, 'Maths': 95, 'Science': 99}

In [3]:
string = '''the quantities, characters, or symbols on which operations are performed by a computer, which may be stored and transmitted in the form 
of electrical signals and recorded on magnetic, optical, or mechanical9 mechanical recording media.'''

count = {}
for i in string.split():
    if i.isalpha():
        count[i]=string.count(f'{i}')
    elif i.isalnum():
        count[i]=string.count(f'{i}')
    else:
        i = i[:-1] # quantities, to remove the (,) after the string slicing is used 
        count[str(i)]=string.count(f'{i}')
print(len(count))
count

30

{'the': 2,
 'quantities': 1,
 'characters': 1,
 'or': 7,
 'symbols': 1,
 'on': 3,
 'which': 2,
 'operations': 1,
 'are': 1,
 'performed': 1,
 'by': 1,
 'a': 19,
 'computer': 1,
 'may': 1,
 'be': 1,
 'stored': 1,
 'and': 2,
 'transmitted': 1,
 'in': 2,
 'form': 2,
 'of': 1,
 'electrical': 1,
 'signals': 1,
 'recorded': 1,
 'magnetic': 1,
 'optical': 1,
 'mechanical9': 1,
 'mechanical': 2,
 'recording': 1,
 'media': 1}

In [49]:
from collections import Counter 

Counter(string.split())

Counter({'the': 2,
         'or': 2,
         'on': 2,
         'which': 2,
         'and': 2,
         'quantities,': 1,
         'characters,': 1,
         'symbols': 1,
         'operations': 1,
         'are': 1,
         'performed': 1,
         'by': 1,
         'a': 1,
         'computer,': 1,
         'may': 1,
         'be': 1,
         'stored': 1,
         'transmitted': 1,
         'in': 1,
         'form': 1,
         'of': 1,
         'electrical': 1,
         'signals': 1,
         'recorded': 1,
         'magnetic,': 1,
         'optical,': 1,
         'mechanical9': 1,
         'mechanical': 1,
         'recording': 1,
         'media.': 1})

### Sorting the dictonary by using keys

In [52]:
Sub = {'Marathi': 90, 'Hindi': 91, 'English': 93, 'Maths': 95, 'Science': 99}
sort_dct = sorted(Sub)
sort_dct

['English', 'Hindi', 'Marathi', 'Maths', 'Science']

In [65]:
Sub = {'Marathi': 90, 'Hindi': 91, 'English': 93, 'Maths': 95, 'Science': 99}
sort_dct = sorted(Sub)
sort_dct1={}
for key in sort_dct:
    #sort_dct1.update({keys:Sub[keys]})
     sort_dct1[key]=Sub[key]

print(sort_dct1)

{'English': 93, 'Hindi': 91, 'Marathi': 90, 'Maths': 95, 'Science': 99}

In [66]:
sorted_dict = dict(sorted(Sub.items()))
sorted_dict

{'English': 93, 'Hindi': 91, 'Marathi': 90, 'Maths': 95, 'Science': 99}

In [4]:
Sub = {'Marathi': 83, 'Hindi': 97, 'English': 98, 'Maths': 95, 'Science': 99}
temp_dct={}
for key, value in Sub.items():
    temp_dct[value] = key # change the keys to value and values to key
print(temp_dct)

final_dict = dict(sorted(temp_dct.items()))
print(final_dict)

{83: 'Marathi', 97: 'Hindi', 98: 'English', 95: 'Maths', 99: 'Science'}
{83: 'Marathi', 95: 'Maths', 97: 'Hindi', 98: 'English', 99: 'Science'}

In [3]:
subject = {'Math': 90, 'Science': 90, 'Geo': 93, 'History': 95, 'English': 86}

values = list(subject.values())
keys  = list(subject.keys())
for i in range(len(values)):
    for j in range(i+1,len(values)):
        if values[i]>values[j]:

            values[i],values[j]=values[j],values[i]
            keys[i],keys[j]=keys[j],keys[i]
            
dict(zip(keys,values))

{'English': 86, 'Science': 90, 'Math': 90, 'Geo': 93, 'History': 95}

In [12]:
l1=[1,2,3,4,[5,6,7],9]
l2 = l1
print(l1)
print(l2)
l1.insert(1,100)
print(l1)
l1[5][0]=99
print(l2)
print(id(l1))
print(id(l2))

[1, 2, 3, 4, [5, 6, 7], 9]
[1, 2, 3, 4, [5, 6, 7], 9]
[1, 100, 2, 3, 4, [5, 6, 7], 9]
[1, 100, 2, 3, 4, [99, 6, 7], 9]
1929377305984
1929377305984

In [4]:
subject = {'Math': 90, 'Science': 90, 'Geo': 93, 'History': 95, 'English': 86}
temp_dct = {}
output = {}
for keys, value in subject.items():
    temp_dct[value]=keys

output  = dict(sorted(temp_dct.items()))
print(output)

{86: 'English', 90: 'Science', 93: 'Geo', 95: 'History'}

### formkey()

In [3]:
dict.fromkeys(['a','e','i','o','u'])

{'a': None, 'e': None, 'i': None, 'o': None, 'u': None}