In [4]:
for i in range(6):
    for j in range(i):
        print("*", end='')
        
    print()

*
**
***
****
*****

In [3]:
row = int(input("enter the number: "))
for i in range(1, row+1):
    for j in range(1, i+1):
        print(j, end='')
    for k in range(i-1, 0,-1):
        print(k, end="")
        
    print()

enter the number:  5

1
121
12321
1234321
123454321

In [6]:
# prime number in the given range

low = int(input("enter the low number: "))
high = int(input("enter higher number: "))

for i in range(low, high+1):
    for j in range(2, i):
        if i%j==0:
            break
    else:
        print(i)

enter the low number:  1
enter higher number:  100

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [10]:
s= 'mayur'
s[0]="M"

TypeError: 'str' object does not support item assignment

In [12]:
"Mayur " + "Amrute"

'Mayur Amrute'

In [14]:
"Mayur " * 5

'Mayur Mayur Mayur Mayur Mayur '

In [16]:
"*"*80

'********************************************************************************'

In [23]:
"mayur">"Mayur"

True

In [30]:
#here space is consider as a false value and other than the sapce is the +value
print("" and "world")# False will not evaluate the next variable
print("Hello" and "world")# will evalute next and print the same

world

In [2]:
'mayur' and 'Mayur'

'Mayur'

In [33]:
len("Mayur Amrute")

12

In [35]:
min("Mayur")# ASCII value

'M'

In [37]:
max("Mayur")

'y'

In [39]:
# sorted function is convert the string into the list and sort them in alphabetical order
sorted("Mayur Amrute")

[' ', 'A', 'M', 'a', 'e', 'm', 'r', 'r', 't', 'u', 'u', 'y']

In [4]:
#Capitalize() is used to capitalize the first letter of the string
str1="my name is Mayur and surname is AMRUTE" 

print(str1.capitalize())

My name is mayur and surname is amrute

In [44]:
# title() capitalize each first letterof the word in the string 
print(str1.title())

My Name Is Mayur And Surname Is Amrute

In [46]:
print(str1.upper())

MY NAME IS MAYUR AND SURNAME IS AMRUTE

In [47]:
print(str1.lower())

my name is mayur and surname is amrute

In [48]:
print(str1.swapcase())

MY NAME IS mAYUR AND SURNAME IS amrute

In [50]:
str1.count("M")

2

In [7]:
#find function is used to written the index of the element
# this function will not through error when index is not found, and written -1
print(str1.find('x'))
print(str1.find('ur'))

-1
14

In [53]:
"Mayur".find('M')

0

In [58]:
str1.index("name")

3

In [61]:
# this method is used to seperate the words of string and convet it into the list.
str1.split()

['my', 'name', 'is', 'Mayur', 'and', 'surname', 'is', 'AMRUTE']

In [64]:
str1.replace("Mayur", "Lalit")

'my name is Lalit and surname is AMRUTE'

In [67]:
# strip() is used to remove the extra spaces from front and back of the string 

print("             Mayur        ")
print("             Mayur        ".strip())

             Mayur
Mayur

In [7]:
# find the length of string 

s = input("Enter the string: ")
counter = 0
for i in s:
    counter +=1
print("Length is:  ", counter)

Enter the string:  mayur

Length is:   5

### prgram to extract the username from the mail ID

In [9]:
mail = input("Enetr the mail ID: ")

pos = mail.index("@")

print(mail[0:pos])

Enetr the mail ID:  mayuramrute@123

mayuramrute

### Find the count of characters/ subtring present in the string

In [11]:
s = input("enter the string: ")

toFind = input("What you want to search in given string: ")

print(s.count(toFind))

enter the string:  My anme is mayur amrute
What you want to search in given string:  m

3

### Program to remove perticular character from the string

In [19]:
s = input("enter the string: ")
toRemove = input("What you want to remove: ")

result =""

for i in s:
    if i != toRemove:
        result += i
print(result)

enter the string:  MayurJ
What you want to remove:  J

Mayur

### program to check the given string is pallindrom or not

In [24]:
s1 =input("Enter String to check wether it is palindrom or not: ")
flag = True

for i in range(0, len(s1)//2):
    if s1[i] != s1[len(s1) -i - 1]:
        flag = False
        print("Not Pallindrom")
        break
if flag: 
    print("""Pallindrom""")

Enter String to check wether it is palindrom or not:  mmmaaama

Not Pallindrom

### count the number of words in the given string

In [31]:
string = "My name is Mayur amrute"
# count = 1
# for i in string:
#     if i == " ":
#         count += 1
# print(count)

temp = ''
L =[]
for i in string:
    if i != ' ':
        temp = temp+i
    else:
        L.append(temp)
        temp = ''

L.append(temp)
print(L)

['My', 'name', 'is', 'Mayur', 'amrute']

## Covert the string into Tital case without using function tital()

In [37]:
string2 = " the world is so beutiful"
L1 = []
for i in string2.split():
    L1.append(i[0].upper() + i[1:].lower())

print(" ".join(L1))

The World Is So Beutiful

### program to convert the number to the string

In [ ]:
number = int(input("Enter the number: "))

digit = "0123456789"

### program to print the pattern

In [21]:
for i in range(1, 6):
    for j in range(6-i, 0, -1):
        print(j," "  , end="")
    print()

5  4  3  2  1
4  3  2  1
3  2  1
2  1
1

In [25]:
for i in range(1, 6):
    for j in range(1, i+1):
        print("* "  , end="")
    print()

for i in range(1, 6):
    for j in range(6-i, 1, -1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [2]:
n = int(input("Enter the number of rows: "))
for row in range(2*n):
    if row<n:
        T_col = row
    else:
        T_col = 2*n - row
    for col  in range(T_col):
        print("* ", end="")
    print()

Enter the number of rows:  5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [29]:
def pattern5(n):
    for row in range(2 * n):
        # Determine the number of columns in the current row
        total_cols_in_row = row + 1 if row < n else 2 * n - row
        
        # Print the asterisks for the current row
        for col in range(total_cols_in_row):
            print('*', end=' ')
        
        # Move to the next line
        print()

# Example usage
n = 5  # You can change this value to adjust the pattern size
pattern5(n)

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [6]:
for i in range(1,6):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *

In [9]:
n = int(input("Enter the number of rows: "))
for row in range(2*n):
    if row<n:
        T_col = row
    else:
        T_col = 2*n - row
    numSpaces = n-T_col
    for s in range(numSpaces):
        print(" ", end="")
    for col  in range(T_col):
        print("* ", end="")
    print()

Enter the number of rows:  5

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [8]:
nth = int(input("Enter the nth term to find the sum: "))
x = int(input("Enter the value of x: "))
sumuation = 1
for i in range(1, n+1):
    sumuation += (x**i)/i

print("sumuation of nth teram is: ",sumuation)

Enter the nth term to find the sum:  5
Enter the value of x:  2

sumuation of nth teram is:  18.066666666666666

In [22]:
#nth = int(input("Enter the nth term to find the sum: "))
x = int(input("Enter the value of x: "))
sumesion = 0
for i in range(1, 8):
    sumesion += ((x-1)/x)**i

print("sumetion of nth teram is: ",sumesion)

Enter the value of x:  2

sumetion of nth teram is:  0.9921875

##### Problem 7 - Find the sum of the series upto n terms.
Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate. And the output style should match which is given in the example.

In [24]:
addition = 0
current_term = 0 
for i in range(5):
    current_term = current_term * 10 + 2 #2+22+222+2222+22222+222222
    addition += current_term

print(addition)

24690

In [1]:
for i in range(1,5):  
    for j in range(1, 5):
        print(i," ", j)

1   1
1   2
1   3
1   4
2   1
2   2
2   3
2   4
3   1
3   2
3   3
3   4
4   1
4   2
4   3
4   4

### permutation and combination problem [1,2,3,4]

In [10]:
import itertools

numbers = [1,2,3,4]

permutation  = itertools.permutations(numbers)
 
for perm in permutation:
    print(" ".join(map(str, perm)))

<class 'itertools.permutations'>
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
2 4 3 1
3 1 2 4
3 1 4 2
3 2 1 4
3 2 4 1
3 4 1 2
3 4 2 1
4 1 2 3
4 1 3 2
4 2 1 3
4 2 3 1
4 3 1 2
4 3 2 1

In [13]:
# LCM and HCF
num1 = int(input('Enter num1: '))
num2 = int(input('Enter num2: '))

a,b = num1,num2

while b != 0:
    a,b = b, a%b
lcm = a

HCF = (num1*num2)//lcm

print(f'LCM is {lcm} and HCF is {HCF} of numbers {num1} and {num2}')

Enter num1:  10
Enter num2:  20

LCM is 10 and HCF is 20 of numbers 10 and 20

In [16]:
# short form of string

string = input("Enter the string for shortForm: ")
l = string.split()
short = ''
for word in l:
    short += word[0].upper()

print(short)

Enter the string for shortForm:  mayur amrute madhukar

MAM

In [19]:
# substring in the middle of the string

string = input("Enter string: ")
string1 = input('Enter middle insert string: ')
mid = len(string)//2

result = string[:mid] + string1 + string[mid:]
print(result)

Enter string:  MayurAmrute
Enter middle insert string:   Madhukar

Mayur Madhukar Amrute

In [20]:
# remove Duplicates 

string = input("Enter string: ")
result = ''
for i in string:
    if i not in result:
        result += i

print(result)

Enter string:  Mayur Amrute

Mayur Amte