In [ ]:
*args takes any number of positional arguments
**kwargs takes any number of keyword argument

In [1]:
def addition(*args):
    add=0
    for i in args:
        add += i
    return add

addition(1,2,3,4)

10

In [8]:
def capitals(**kwargs):
    for key, value in kwargs.items():
        print(key, '-->', value)

In [9]:
capitals(India='Delhi',Srilanka = 'Colombo',Nepal = 'Kathmandu')

India --> Delhi
Srilanka --> Colombo
Nepal --> Kathmandu

In [10]:
l=[1,2,3,4]
l

[1, 2, 3, 4]

In [11]:
l.append(5)

In [12]:
l

[1, 2, 3, 4, 5]

In [13]:
print(l.append(6))   # the append function do not return any value

None

In [14]:
def square(a):
    return a**2

In [15]:
type(square)

function

In [16]:
print(type(square))

<class 'function'>

In [17]:
sqr = square  # we can assign the function with different name

In [18]:
sqr(5)

25

In [22]:
del square

NameError: name 'square' is not defined

In [23]:
sqr(10)

100

In [24]:
l = [1,2,3,4,sqr]

In [25]:
l[4]

In [27]:
l[4](9) # like other dtype we acan asses the function

81

In [28]:
# lambda function
small, anonymous one exresion, haiving any number of argument function

In [30]:
z = lambda a,b:a+b  # addition of two items

In [31]:
z

In [32]:
z(1,1)

2

In [34]:
l=[1,2,3,4]

a = lambda x:x in l  # cjheck of element

In [36]:
a(1)

True

In [37]:
even_odd = lambda x: "EVEN" if x%2==0 else "ODD"

In [38]:
even_odd(24)

'EVEN'

In [39]:
even_odd(11)

'ODD'

In [42]:
(lambda a:a**2)(5)

25

In [43]:
# square of list using lambda
l=[2,3,4,5]
(lambda a:a**2)(l)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [49]:
print((lambda l:[i**2 for i in l])(l))

[4, 9, 16, 25]

In [52]:
## Higher order functions
# the function whi takes anothe rfunction as an parameter or return a another function ara called as higher function

In [54]:
list(map(lambda a:a%2==0, [1,2,3,4,5,6]))  # conditional check

[False, True, False, True, False, True]

In [55]:
# if we perform conditional operation with map it will give the output as true and false and if we perform an operation will give 
# the actual output of the operation

In [56]:
list(map(lambda a:a**2,[1,2,3,4,5]))  # operation

[1, 4, 9, 16, 25]

In [58]:
list(filter(lambda a:a%2==0,[1,2,3,4,5,6]))  # on appling condition it gives the actual values where condition is satisfied

[2, 4, 6]

In [59]:
list(filter(lambda a:a**2,[1,2,3,4,5]))  # here the filter fuction will do nothig and give the iterable as it is

[1, 2, 3, 4, 5]

In [60]:
l1 = ['Sunday','Monday','Tuesday','Wednesday','thrusday','friday','Saturday']

list(map(lambda x:len(x)==6,l1))

[True, True, False, False, False, True, False]

In [62]:
list(filter(lambda x:len(x)==6,l1))

['Sunday', 'Monday', 'friday']

In [64]:
list(map(lambda x:x.lower(), l1))

['sunday', 'monday', 'tuesday', 'wednesday', 'thrusday', 'friday', 'saturday']

In [70]:
# function to find unique element
lst = [1,2,3,3,3,3,4,5]
def all_unique(lst):
    result = set()
    for i in lst:
        result.add(i)
    return result 

all_unique(lst)

{1, 2, 3, 4, 5}

In [71]:
# sort the string alphabetically
string = 'green-red-yellow-black-white'

def sort_string(string):
    words = string.split('-')
    result = '-'.join(sorted(words))
    return result

sort_string(string)

'black-green-red-white-yellow'

In [77]:
# count the upper and lower caser letter in string 

string ='CampusX is an Online Mentorship Program fOr EnginEering studeNtS.'

def coun_UL(string):
    ucount=0
    lcount = 0
    for i in string:
        if i.islower():
            lcount += 1
        if i.isupper():
            ucount += 1

    print(f'Lower count {lcount} \nUpperCount {ucount}')

In [78]:
coun_UL(string)

Lower count 46
UpperCount 10

In [79]:
# print even number from the list

In [80]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9] 

def even_number(lst):
    even = []
    for i in lst:
        if i%2==0:
            even.append(i)
    return even

even_number(lst)

[2, 4, 6, 8]

In [84]:
def perfect_number(num):
    add = 0
    if num<1:
        return 'pagal'
    for i in range(1,num//2+1):
        if num % i==0:
            add+=i
    if num==add:
        print('Perfect Number')
    else:
        print('Not Perfect')
num = int(input("Enter number"))
perfect_number(num)

Enter number 496

Perfect Number

In [ ]:
# prgram to concaticate the dictionary

In [2]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

def concatenate_dct(*dct):
    result = {}
    for i in dct:
        result.update(i)

    return result

concatenate_dct(dic1,dic2,dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [4]:
def update_dct(**kwargs):
    return kwargs

update_dct(Mayur=10,Lalit=20)

{'Mayur': 10, 'Lalit': 20}

In [9]:
string = 'hello how are you i am fine thank you you you how how are hello'
def max_count_word(string):
    max_count = 0
    max_word = None
    for i in string.split():
        count = string.count(i)
        if count> max_count:
            max_count = count
            max_word = i
    print(f'{max_word} --> {max_count}')

max_count_word(string)

you --> 4

In [5]:
# shortest disance point
lst_cordinate = [(1,1),(2,2),(3,3),(4,4)]
query_point = (0,0)

def shortes_dist(lst_cordinate, query_point):
    shortest_d = float('inf')
    close_pt = None

    for point in lst_cordinate:
        distance = ((point[0]-query_point[0])**2 + (point[1]-query_point[1])**2)**0.5
        if distance < shortest_d:
            shortest_d = distance
            close_pt = point
    return close_pt

shortes_dist(lst_cordinate,query_point)

(1, 1)

In [7]:
# it is just like poere term with its index position 
list1 = [1,2,3,4,5,6]
result = list(map(lambda x:x[1]**x[0], enumerate(list1)))
result

[1, 2, 9, 64, 625, 7776]